* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.box{
    background-color: aquamarine;
    margin: 30px 20px 10px 5px;
    border: 2px solid red;
    padding: 30px;
    outline: 3px solid green;
}

#title {
    text-align: center;
    font-size: 30px; 
    font-weight: 800;
}
#spl{
 
    background-color: red;
}
#first{
color: darkblue;
}

#second{
color:gold;
}